@using SEDC.BurgerApp.ViewModels.BurgerViewModels

@model List<BurgerIndexViewModel>

@{
    ViewData["Title"] = "Burger Menu";
}

<h1>Burger Menu</h1>
<div class="row">
    <div class="card text-black mb-3" style="max-width: auto; margin-left: 10px;flex-direction: row; justify-content: space-between; flex-wrap: wrap;">

        @if (Model.Count > 0)
        {
            
                @foreach (var burger in Model)
                {
                <div class="card-body" style="background-color: rgb(0,0,0,0); border: 0px;">

                    <li style="list-style: none;">
                            <h3>@burger.Name</h3>
                                @if (!string.IsNullOrEmpty(burger.Name))
                                {
                                    var imageName = burger.Name.Replace(" ", "").ToLower();
                                    <img src="~/Images/burgers/@(imageName).jpg" alt="@burger.Name" style="max-width: 200px; max-height: 150px;" />
                                }
                            <p>Price: $@burger.Price</p>
                            <p>@(burger.IsVegan ? "Vegan" : burger.IsVegetarian ? "Vegetarian" : "Non-Vegetarian")</p>
                            <p>Popular: @(burger.IsPopularBurger ? "Yes" : "No")</p>
                            <p>Fries: @(burger.HasFries ? "Included" : "Not Included")</p>
                         </li>
                    </div>

                }
                
        }
        else
        {
        <p>No burgers found in the menu.</p>
        }
    </div>
</div>