@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
    decimal averagePrice = Model.AverageOrderPrice;
}

<div class="jumbotron">
    <h1>Welcome to our Burger app!</h1>
    
    <h2>Most Ordered Burger: <br/>@Model.MostOrderedBurger</h2>

    @if (!string.IsNullOrEmpty(Model.MostOrderedBurgerImageName))
    {
        <img src="~/Images/burgers/@(Model.MostOrderedBurgerImageName).jpg" alt="@Model.MostOrderedBurger" style="max-width: 200px; max-height: 150px;" />
    }

    <h4>We are popular! We have already had @Model.OrderCount orders!</h4>

    <h2>Average Order Price: $@Model.AverageOrderPrice.ToString("F2")</h2>
    <h3>List of all locations:</h3>
    <ul>
        @foreach (var location in Model.Locations)
        {
            <li>@location.Name - @location.Address</li>
        }
    </ul>
</div>
